/* GOOGLE FONT - BAI JAMJUREE */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --ios-btn:hsl(178, 96%, 19%);
    --mac-btn:hsl(210.13deg 100% 44.51%);
    --dark-grayish-blue:hsl(210, 10%, 33%);
    --grayish-blue:hsl(208, 12%, 31%);
}

/* Add min-height for webpage,
 scroll behavior for webpage (Skip links) */
html{
    display:grid;
    place-items: center;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* TYPOGRAPHY */
h1,h2,h3,h4 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

p, a{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

/* Master header banner */
.headerwrap{
    max-width:1200px;
    margin: 0 auto;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add background to header */
.masthead{
    background: url(../images/bg-header-mobile.png) no-repeat center center;
    background-size: cover;
}

/* Header Logo */
.masthead .imgwrap{
    display:flex;
    padding:3rem;
}

/* Header text wrap */
.masthead .txtwrap{
    text-align: center;
    padding: 1rem;
}

/* Header H1 */
.masthead h1{
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom:1.3rem;
}

/* Header P */
.masthead p{
    font-size: 0.9rem;
    color: var(--grayish-blue);
    line-height: 1.5rem;;
    margin-bottom: 1.5rem;
}

/* BUTTON Style */
.btnwrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding:1rem 1rem 5rem 1rem;
    width:100%;
}

.btnwrap a{
    text-decoration: none;
    color: #fffafa;
    font-size:1.2rem;
    text-align: center;
}

/* Individual button styling */
.ctabtn{
    padding:1rem;
    border-radius: 25px;
    width:80%;
    transition: all 0.3s ease;
}

.iOSbtn{
    background-color: var(--ios-btn);
    box-shadow: 2px 10px 10px -2px rgb(2 95 92 / 16%);
}

.Macbtn{
    background-color: var(--mac-btn);
    box-shadow:2px 10px 10px -2px rgb(0 113 227 / 27%);
}

/* MAIN SECTION */

/* Styling for main headings */
main h2,
.workflow h2,
.CTA h4{
    font-size: 1.5rem;
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

/* Styling for main paragraphs */
main p,
.workflow p,
.CTA p{
    font-size: 0.9rem;
    color: var(--grayish-blue);
    line-height: 1.5rem;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

/* Max-width for main section IMG */
main img{
    max-width: 100%;
}

.FeatImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3rem 1rem;

}

/* Features text */

/* FEATURES HEADINGS */

.feattxt h3,
.workfeat h3{
    text-align:center;
    margin-top:1.5rem;
    font-size: 1.25rem;
}

/* ACCESS SECTION */
.AccessClip{
    padding:4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add spacing between image and text wrap */
.accessIMG{
    padding-top:3rem;
}

/* WORKFLOW SECTION */
.workflow{
    max-width: 1200px;
    margin: 0 auto;
}

.workfeat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PARTNER LOGOS */
.logowrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
    max-width: 1200px;
    padding: 5rem 1rem; 
}

.logowrap img{
    flex-basis: 1rem;
}

/* CTA Section */
.CTA{
    max-width:1200px;
    margin: 0 auto;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

/* FOOTER */
footer{
    background-color: #f5f6f8;
    color: #fffafa;
    text-align: center;
    padding: 2rem 0;
    width:100%;
}

.footimg img{
    width:4.5rem;
}
/* Styling footer wrap and footer links */
.main_foot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    gap: 3rem;
}

.footLink{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

/* Styling footer links */
.footLink a{
    text-decoration: none;
    color: var(--dark-grayish-blue)
}

/* Styling footer social icons */
.footSocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

/* SocMed footer links */
.footSocial a{
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: 2rem;
}

/* ATTRIBUTION */
.attribution{
    padding-top: 3rem;
}
.attribution p{
    color:var(--dark-grayish-blue);
    line-height: 2rem;
}

.attribution a{
    text-decoration: none;
    color:var(--dark-grayish-blue);
}

/* Style for skip links */
.visually-hidden-focusable {
    position: absolute;
    left: -7rem;
    top: -4rem;
    padding:1rem;
    overflow: hidden;
}

.visually-hidden-focusable:focus {
    top:0;
    left:0;
    font-size:1rem;
    background-color:var(--ios-btn);
    color:#fffafa;
  }

  /* Back to top button */
    .back-to-top{
        position: fixed;
        bottom: 1.5rem;
        right: 1rem;
        background-color: var(--ios-btn);
        color: #fffafa;
        padding: 0.5rem;
        border-radius: 50%;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

@media screen and (min-width: 820px){

    /* Adjust paragraph font-size for larger screens */
    .headerwrap p,
    main p, 
    .workflow p, 
    .CTA p {
    font-size:1.09rem;
    }

    /* Styling CTA button for tablet view */
    .btnwrap{
        flex-direction: row;
        gap: 2rem;
        padding:1rem 1rem 5rem 1rem;
    }
    .ctabtn{
        width: 20%;
    }

    /* Add larger background */
    .masthead{
        background: url(../images/bg-header-desktop.png) no-repeat center center;
        background-size: cover;
    }

    /* LOGO WRAP FOR LARGER SCREENS */
    .logowrap{
        flex-direction: row;
        gap: 4rem;
        margin:0 auto;
    }
    
    .logowrap img{
        flex-basis: 150px;
    }

}

/* Add media query for desktop view */
@media screen and (min-width:1200px){

    /* HEADING */
    .masthead h1{
        font-size:2rem;
    }
    /* Width for banner text wrap */
    .masthead .txtwrap{
        width:50%;
    }

    /* Feature text wrap */
    main p{
        width:50%;
    }

    /* Styling for main features */
    .featWrap{
        display:flex;
        gap:1rem;
    }

    .FeatImg{
        margin-left: -3rem;
    }

    .FeatImg img{
        width:55vw;
    }

    .FeatTXTwrap{
        margin-top:5rem;
    }

    .feattxt h3{
        text-align:left;
        font-size:1.5rem;
        width: 65%;
        padding-left:1rem;
    }
    
    .feattxt p{
        width:65%;
        margin:0;
        text-align: left;
    }

    /* HEADINGS for larger screens */
    main h2,
    .workflow h2,
    .CTA h4{
        font-size: 1.75rem;
    }

    /* WORKFLOW FEATURES */
    .workflow_wrap{
        display: flex;
        justify-content: space-between;
        padding-top:4rem;
    }

    .workfeat{
        width:25rem;
        justify-content: flex-start;
    }

    /* FOOTER */
    .main_foot{
        padding-top:2rem;
        flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    /* Footer links */
    .footLink{
        flex-wrap: wrap;
    flex-direction: row;
    width: 25rem;
    margin-right:10rem;
    }
    
    .footLink a{
        text-align: left;
        width:7rem;
    }

    /* Logo image on footer */
    .footimg{
        margin: 0 4rem 0 1rem;
    }

    .attribution{
        margin-top:2rem;
        font-size: 0.75rem;
        line-height: 0.5rem;
    }

    /* LoVE HAte */

    .footLink a:hover,
    .footLink a:focus{
        outline: none;
        color:var(--ios-btn);
        text-decoration: underline;
    }

    .footSocial a:hover{
        color:var(--ios-btn);
    }

    .ctabtn:hover,
    .ctabtn:focus{
        transform: scale(0.8);
    }
}