@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Global styles */

body {
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

.txtwrap p,
.escrowtxt p,
.editorwrap p {
    color: #5a5444;
}

header {
    background-color: #f0eeeb;
}

/* Styling the sticky part */
.sticky {
    background-color: black;
    padding: 1.5rem;
    position: sticky;
    top: -1px;
}

.sticky p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.sticky a {
    color: white;
}

/* Styling the logo nav wrap */
.masthead {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.logowrap {
    display: flex;
    flex-grow: 1;
    padding-top: 0.5rem;
}

.icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    right: 0;
}

#check {
    display: none;
}

.navbar a {
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: black;
}

/* Hover and focus state */
nav a:hover,
nav a:focus {
    text-decoration: underline;
}

/* Styling the fourth a of navigation */
nav>*:nth-of-type(5) {
    color: white;
    background-color: black;
    font-weight: 600;
    border-radius: 10px;
}

/* Styling the banner */
.welcome_banner {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.imgwrap {
    align-self: center;
    padding: 1rem;
}

.imgwrap img {
    max-width: 100%;
}

/* Hidden picture for tablet and desktop hero pic */
.hero_tablet {
    display: none;
}

.hero_desktop {
    display: none;
}

/* Styling the p wrap on banner */
.txtwrap {
    padding: 1.5rem 1rem;
    line-height: 1.5rem;
}

.txtwrap h2 {
    line-height: 2rem;
}

.txtwrap p {
    padding: 1rem 0;
}

em {
    font-style: italic;
}

/* Styling the list with checkmark bullet */
.txtwrap ul li::before {
    content: '';
    display: inline-block;
    background: url(../images/checkmark.svg) no-repeat left 0 center;
    width: 2rem;
    height: 1.5rem;
}

/* Styling the checked list */
.txtwrap ul li {
    display: flex;
    margin-bottom: 1rem;
}

/* Styling the form */
.sign_up {
    display: flex;
    align-items: center;
}

/* Input */
input {
    padding: 1rem;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 10px;
    width: 20ch;
}

.sign_up button {
    color: white;
    font-family: 'Cabin', sans-serif;
    background-color: black;
    font-size: 1rem;
    margin-left: 0.5%;
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 5px;
}

/*Styling the sponsors tab */
.logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

.logos img {
    height: 1.5rem;
    padding: 1rem;
    flex-basis:5rem;
}

/* Styling the escrow portion */
.escrow_wrap {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0eeeb;
    border-radius: 0.5rem;
}

/*************
Escrow section  
**************/

.escrow_img {
    align-self: center;
}

/* Hiding the mockup for tablet/desktop version */
.mockup_tablet {
    display: none;
}

.escrowtxt {
    padding: 1.5rem 1.5rem 0;
    line-height: 1.5rem;
}

.escrowtxt h2 {
    padding: 1.5rem 0;
    line-height: 2rem;
}

.escrowtxt p {
    padding-bottom: 1.5rem;
}

.escrowtxt a {
    font-size: 1.5rem;
    color: #5a5444;
    text-decoration: underline;
}

/******************
Text editor section
*******************/

.txteditor {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.editorwrap h2 {
    padding: 1.5rem 0 1rem;
}

.editorwrap {
    line-height: 1.5rem;
}

.editorwrap p {
    padding-bottom: 1rem;
}

.editorwrap a {
    font-size: 1rem;
    font-weight: 700;
    color: #5a5444;
    text-decoration: underline;
    padding: 1rem 0;
}

.editorimg {
    max-width: 100%;
}

/********
 Footer
********/

footer {
    background-color: black;
    padding: 1rem;
}

.footwrap {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.copyright {
    padding: 1rem 0;
}

.copyright h1 {
    color: whitesmoke;
}

/* Styling the footer paragraph */
.copyright p,
.row1 a,
.row2 a {
    color: #87857f;
}

.copyright p {
    line-height: 1.5rem;
}

/* Styling the footer anchor tags */
.row1 a,
.row2 a {
    text-transform: none;
    font-size: 1.1rem;
    text-decoration: none;
    line-height: 1.5rem;
}

.row1 h3,
.row2 h3 {
    font-size: 1.3rem;
    color: whitesmoke;
}


/* Footer alignments */
.column1,
.column2,
.column3,
.column4 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.column2,
.column4 {
    padding-left: 1rem;
}

.column2 {
    padding-right: 1rem;
}

.row1,
.row2 {
    display: inline-flex;
    justify-content: space-evenly;
}

/* Styling navigation for mobile */
@media screen and (max-width:601px) {
    #check {
        display: none;
    }

    .navbar a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: black;
    }

    /* Styling the fifth a of navigation */
    nav>*:nth-of-type(5) {
        color: white;
        background-color: black;
        font-weight: 600;
        border-radius: 0px;
    }

    /* Styling the hamburger and close icon */
    .icon {
        display: block;
        padding-top: 4px;
    }

    #check:checked~.icon #menu-icon {
        display: none;
    }

    .icon #close {
        display: none;
    }

    #check:checked~.icon #close {
        display: block;
    }

    /* Styling the navigation bar on click */
    .navbar {
        position: absolute;
        top: 12em;
        left: 0;
        width: 100%;
        height: 0;
        background: #f0eeeb;
        transition: .3s ease;
        overflow: hidden;
    }

    #check:checked~.navbar {
        height: 12rem;
    }

    /* Set max-width for the default image (Picture wrap) */
    .default_mockup {
        max-width: 100%;
    }

}

@media screen and (min-width:690px) and (max-width:1024px) {
    .icon {
        display: none;
    }

    .navbar {
        margin-top: 8px;
        display: flex;
    }

    /* Add spacing on navigation links */
    .navbar a {
        margin-left: 2.5em;
    }

    .row1,
    .row2 {
        width: 48%;
    }

    .logos img {
        height: 1.7rem;
        padding: 1.5rem;
    }

    /* Hiding the hero mobile version */
    .hero_mobile {
        display: none;
    }

    .hero_tablet {
        display: flex;
    }
}

@media screen and (min-width:1024px) {
    .icon {
        display: none;
    }

    .navbar {
        margin-top: 8px;
        display: flex;
    }

    /* Add spacing on navigation links */
    .navbar a {
        margin-left: 2.5em;
    }

    nav>*:nth-of-type(3) {
        margin-right: 14rem;
    }

    .row1,
    .row2 {
        width: 30%;
    }

    /* Banner styles for desktop */
    .welcome_banner {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .welcome_banner .imgwrap {
        width: 37%;
    }

    .welcome_banner .txtwrap {
        width: 45%;
    }

    .welcome_banner .txtwrap h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    /* Enables desktop version for hero image */
    .hero_mobile {
        display: none;
    }

    .hero_desktop {
        display: flex;
    }

    /* Escrow wrap */
    .escrow_wrap {
        flex-direction: row;
    }

    .escrowtxt {
        width: 60%;
        padding: 5rem 2rem 0;
        margin-left: 3rem;
    }

    /* Enables desktop version for mockup image */
    .mockup_mobile {
        display: none;
    }

    .mockup_tablet {
        display: flex;
    }

    .escrow_img {
        justify-content: end;
        display: flex;
        width: 50%;
    }

    /* Text editor section */
    .txteditor {
        flex-direction: row-reverse;
        padding: 2rem 0;
    }

    .txteditor img {
        width: 50%;
        height: 20%;
    }

    /* Adjusts margin-top alignment for text-wrap */
    .editorwrap {
        margin-top: 4rem;
    }

    /* Footer styles */
    footer {
        margin-top: -3rem;
    }

    .copyright h1 {
        padding-bottom: 1rem;
    }

    .footwrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .copyright {
        width: 30%;
        margin-top: -1rem;
    }
}